# === Database (PostgreSQL) ===
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=music_store
# Connection url within Docker-network (host = db)
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@db:5432/music_store

# === Cache (Redis) ===
# URL for connection from within Docker-network (host = cache)
REDIS_URL=redis://cache:6379

# === Application Settings (FastAPI) ===
SECRET_KEY=secret_key_for_local_development_only
ENVIRONMENT=development